@import "../../../assets/styles/colors.scss";
@import "./src/assets/styles/breakpoints";

.info-block {
    display: flex;
    flex-direction: column;
    gap: 60px;
    &__info {
        display: flex;
        gap: 30px;
    }
    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        max-width: 310px;
        padding-bottom: 48px;
    }
    &__title span {
        font-weight: 700;
        color: $green;
    }
    &__text {
        font-size: 18px;
        line-height: 25px;
    }
}

@media #{$tablet} {
    .info-block {
        gap: 30px;
        &__info img {
            max-width: 327px;
        }
        &__title {
            font-size: 30px;
            line-height: 30px;
            padding-bottom: 30px;
        }
        &__text {
            font-size: 14px;
            line-height: 19px;
        }
    }
}
@media #{$mobile} {
    .info-block {
        gap: 48px;
        &__info  {
            flex-direction: column;
        }
        &__info img {
            max-width: 358px;
        }
        &__info:nth-child(2) {
            flex-direction: column-reverse;
        }
        &__title {
            max-width: 100%;
            font-size: 24px;
            line-height: 24px;
            padding-bottom: 24px;
        }
    }
}