@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/global.scss";
* {
  transition: all 0.5s  ease-in;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans';
    color: $white;
  
    &__btn {
        font-family: 'Open Sans', sans-serif;
        color: $white;
        font-size: 12px;
        line-height: 16px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
    }
  
    &__content {
      margin-top: 5px;
      height: 0;
      transition: all 0.8s ease-in-out;
      position: absolute;
      z-index: 1;
      background-color: $graphite;
      width: 125px;
    }
  
    &__content a {
        color: $white;
        padding: 5px 10px;
        display: block;
    }
    &__content_active {
        height: 110px;
        transition: all 0.8s ease-in-out;
    }
    &__menu_open {
      transform: rotateX(180deg);
      transition: all 0.5s  ease-in;
    }
    &__menu_close {
      transform: rotatX(0);
      transition: all 0.5s  ease-in;
    }
  
    // &:hover .dropdown__content {
    //     display: block;
    //   }
  }
  

  

//   .dropdown:hover .dropdown__content {
//     display: block;
//   }

//   .dropdown-btn img.open {
//     transform: rotate(180deg);
//   }
  
//   .dropdown-content {
//     display: none;
//   }
  
//   .dropdown-btn img.closed {
//     transform: rotate(0deg);
//   }
  
//   .dropdown-btn:hover img.closed,
//   .dropdown-btn:focus img.closed {
//     filter: brightness(0.8);
//   }
  
//   .dropdown-btn:focus {
//     outline: none;
//   }
  
//   .dropdown:hover .dropdown-content {
//     display: block;
//   }