@import "./src/assets/styles/colors";
@import "./src/assets/styles/breakpoints";

.statistics  {
    display: flex;
    justify-content: space-between;
}
@media #{$tablet} {
    .statistics  {
        flex-direction: column;
        gap: 28.5px;
    }
}