@import "../../assets/styles/breakpoints.scss";

.review-section {
    padding-bottom: 200px;
    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 60px;
    }
}

@media #{$tablet} {
    .review-section {
        padding-bottom: 160px;
        &__title {
            font-size: 24px;
            line-height: 24px;
            padding-bottom: 30px;
        }
    }

}