@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.background-wrapper {
    background-image: url(../../assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-page {
    padding-top: 100px;
    &__title-image img{
        width: 100vw;
        max-height: 600px;
        object-fit: cover;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
}
.map {
   position: relative;
}

.btn {
        //padding: 17px 65.5px;
        //font-family: 'DOCKER';
        //background: $green;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        //width: 255px;
        //cursor: pointer;
        //margin-bottom: 20px;
}
.btn:hover {
        background: $yellow;
        color: $graphite;
        transition: all 0.5s ease-in;
}

@media #{$tablet} {
    .main-page {
        padding-top: 70px;
        &__content {
            gap: 70px;
        }
    }
    .btn {
        //padding: 17px 55px;
        background: $green;
        width: 234px;
    }
}
@media #{$mobile} {
    .main-page {
        padding-top: 120px;
        &__content {
            gap: 120px;
        }
    }
}