@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.background-wrapper {
    background-image: url(../../assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-page {
    padding-top: 100px;
    &__title-image img{
        width: 100vw;
        max-height: 600px;
        object-fit: cover;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
}
.map {
   position: relative;
}


@media #{$tablet} {
    .main-page {
        padding-top: 70px;
        &__content {
            gap: 70px;
        }
    }
}
@media #{$mobile} {
    .main-page {
        padding-top: 120px;
        &__content {
            gap: 120px;
        }
    }

}