@import "../../assets/styles/variables";

.main-banner {
  padding: 35.8% 0;

  @media (min-width: $sm) {
    padding: 22.2% 0;
  }

  @media (min-width: $lg) {
    padding: 20.84% 0;
  }
}

.main-content {
  padding-top: 100px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 120px;

      @media (min-width: $md) and (max-width: $max-lg) {
        margin-bottom: 70px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
}

.map {
  position: relative;

  &-section {
    margin-top: 120px;

    @media (min-width: $md) and (max-width: $max-lg) {
      margin-top: 70px;
    }
  }
}
