@import "../../../assets/styles/colors.scss";
@import "./src/assets/styles/breakpoints";

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 60px;
    width: 540px;
    &.coach {
        background: url(../../../assets/images/coach.png) no-repeat center;
    }
    &.halls {
        background: url(../../../assets/images/halls.png) no-repeat center;
    }
    &__title {
        padding-top: 376px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    &__btn {
        font-family: 'Docker';
        font-weight: 400;
        font-size: 15px;
        line-height: 9px;
        text-transform: uppercase;
        padding: 14px 50px 10px 49px;
        background: $green;
        border: 5px solid $green;
        clip-path: polygon(0% 30%, 8% 0%, 92% 0%, 100% 30%, 100% 70%, 92% 100%, 8% 100%, 0 70%);
        transition: all 0.5s ease-in;
    }
    &__btn:hover {
        background: $yellow;
        color: $graphite;
        border: 5px solid $yellow;
        transition: all 0.5s ease-in;
    }
}

@media #{$tablet} {
    .info-card {
        width: 327px;
        &.coach, &.halls {
            background-size: contain;
        }
        &__title {
            padding-top: 210px;
            font-size: 30px;
            line-height: 30px;
        }
    }
}
@media #{$mobile} {
    .info-card {
        width: 358px;
        height: 435px;
        &.coach, &.halls {
            background-size: cover;
        }
        &__title {
            padding-top: 320px;
            font-size: 24px;
            line-height: 24px;
        }
    }

}