@import "./src/assets/styles/variables";

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    position: relative;
    &__image {
        position: relative;
    }
    &__title {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    &__btn {
        font-family: 'Docker';
        font-weight: 400;
        font-size: 15px;
        line-height: 9px;
        text-transform: uppercase;
        padding: 14px 50px 10px 49px;
        background: $green;
        border: 5px solid $green;
        clip-path: polygon(0% 30%, 8% 0%, 92% 0%, 100% 30%, 100% 70%, 92% 100%, 8% 100%, 0 70%);
        transition: all 0.5s ease-in;
    }
    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 24px;
        bottom: 65px;
    }
    &__btn:hover {
        background: $yellow;
        color: $graphite;
        border: 5px solid $yellow;
        transition: all 0.5s ease-in;
    }
}

@media #{$tablet} {
    .info-card {
        width: 327px; 
        &__title {
            font-size: 30px;
            line-height: 30px;
        }
        &__content {
            bottom: 30px;
        }
    }
}
@media #{$mobile} {
    .info-card {
        width: 358px;
        &__image{
            object-fit: cover;
            height: 435px;
        }   
        &__title {
            font-size: 24px;
            line-height: 24px;
        }
        &__content {
            bottom: 20px;
        }
    }

}