@import "./src/assets/styles/variables";

.header {
  padding: 30px 0;

  @media (min-width: $lg) {
    padding-bottom: 55px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @media (max-width: $max-lg) {
      max-width: 132px;
    }
  }

  &__burger-button {
    display: none;
  }

  &__list {
    display: flex;
    gap: 30px;
    margin-right: 150px;
  }

  &__icon {
    width: 32px;
  }

  &__icon img {
    cursor: pointer;
    max-width: 167%;
    width: 32px;
  }
;

  &__icons {
    display: flex;
    align-items: center;
    gap: 18px;

    .social {
      display: none;

      @media (min-width: $md) {
        display: flex;
      }

      &__icon {
        @media (min-width: $md) {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &__item a {
    color: $white;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &__logout {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
  }
}

@media #{$tablet} {
  .header {
    &__burger-button {
      display: block;
      cursor: pointer;
    }

    &__nav {
      display: none;
    }
  }
}

@media #{$mobile} {
  .header {
    &__icon_social {
      display: none;
    }
  }
}
