@import "./src/assets/styles/variables";

.info-cards {
    &__card-block {
        display: flex;
        gap: 30px;
        padding-bottom: 10px;
        align-self: center;
    }
}
@media #{$mobile} {
    .info-cards {
        &__card-block {
            gap: 60px;
            flex-direction: column;
        }
    }

}