@import "../../../assets/styles/variables";

// Class preview
.class {
  margin: 0 -10px;
  padding: 16px 5px;
  height: 100%;
  border: 2px solid;
  text-align: center;

  @media (min-width: $lg) {
    margin: 0 -17px;
    padding: 25px 10px;
    border-width: 3px;
  }

  &__item {
    margin-bottom: 8px;

    @media (min-width: $lg) {
      margin-bottom: 12px;
    }
  }

  &__time {
    @media (max-width: $max-lg) {
      font-size: 10px;
    }
  }

  &__training-type,
  &__trainer-name,
  &__join {
    font-size: 6px;

    @media (min-width: $lg) {
      font-size: 10px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    overflow: hidden;

    @media (min-width: $lg) {
      width: 85px;
      height: 85px;
    }
  }

  &__filled {
    display: flex;
    justify-content: center;
    gap: 4px;

    @media (min-width: $lg) {
      gap: 6px;
    }

    &-item {
      width: 7px;
      height: 7px;
      border: 1px solid;

      @media (min-width: $lg) {
        width: 11px;
        height: 11px;
      }
    }
  }

  &__join {
    margin-bottom: 0;
    padding-top: 2px;
    max-width: 60px;
    width: 100%;
    height: 13px;
    border-radius: 20px;
    color: $graphite;
    cursor: pointer;

    @media (min-width: $lg) {
      max-width: 95px;
      height: 20px;
    }
  }

  &__reserved {
    margin-top: 12px;
    font-family: $font-text;
    font-size: 10px;
    display: block;
    margin-bottom: 0;

    @media (min-width: $lg) {
      font-size: 12px;
    }
  }

  &.joined .class__join {
    padding: 5px;
    height: auto;
    color: $white;
    border: 1px solid;
  }
}

// Abonement popup
.class .select-abonement-popup {
  padding: 40px;
  max-width: 500px;

  &-wrapper {
    z-index: 1401;
  }

  .popup__title {
    padding-top: 6px;
    font-size: 26px;
  }

  .abonement-list__item {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .popup__close {
    right: 40px;
    top: 40px;
  }
}
