@import "../../assets/styles/variables";

// Page heading with subtitle
.schedule-subtitle-wrapper {
  margin-bottom: 30px;

  @media (min-width: $md) {
    margin-bottom: 40px;
  }

  @media (min-width: $lg) {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 60px;
  }

  .page-subtitle {
    padding: 10px;
    border: $border-1;

    @media (min-width: $md) {
      padding-right: 33.2%;
    }

    @media (min-width: $md) {
      padding: 35px 29.5% 35px 20px;
    }

    @media (min-width: $lg) {
      margin-bottom: 0;
    }
  }

  .subtitle-level {
    @media (max-width: $max-lg) {
      display: flex;
      gap: 30px;
    }

    @media (min-width: $lg) {
      min-width: 255px;
    }

    &__item {
      @media (min-width: $md) {
        display: flex;
        align-items: center;
        gap: 7px;
      }

      &:not(:last-child) {
        @media (min-width: $lg) {
          margin-bottom: 6px;
        }
      }

      @media (min-width: $lg) {
        min-width: 260px;
      }

      &-image {
        width: 60px;
        height: 60px;

        @media (max-width: $max-md) {
          margin: 0 auto 15px;
        }
      }

      &-title {
        display: block;
        font-family: $font-title;
        font-size: 14px;
        color: $white;

        @media (max-width: $max-md) {
          text-align: center;
        }

        @media (min-width: $lg) {
          font-size: 18px;
        }
      }
    }
  }
}

// Filter week
.schedule__filter {
  @media (min-width: $xs) {
    display: flex;
    align-items: center;
  }
}

.filter-week {
  position: relative;
  margin-left: auto;
  padding: 0 20px;

  @media (min-width: $sm) {
    padding: 0 30px;
  }

  &__btn {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: $white;
    cursor: pointer;

    &--prev {
      left: -5px;
    }

    &--next {
      right: -5px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 30px;
    font-family: $font-title;
    font-size: 12px;
    background-color: $yellow;
    color: $graphite;
    border-radius: 20px;
    line-height: 1;

    @media (min-width: $xs) {
      width: 170px;
    }

    @media (min-width: $lg) {
      font-size: 14px;
      width: 190px;
    }
  }
}

// Schedule table
.schedule {
  &__table {
    margin-top: 25px;
    color: $white;
    font-family: $font-title;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__header {
    .schedule__column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:not(:first-child) {
        font-size: 12px;
      }

      &:first-child {
        font-size: 24px;
      }
    }
  }

  &__body {
    .schedule__column {
      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        background: #454545;
        font-size: 12px;
        text-align: center;

        .schedule__column-icon {
          color: $green;
        }
      }
    }
  }

  &__row {
    display: flex;
  }

  &__column {
    flex: 1 1 100%;
    padding: 17px;
    border: 1px solid rgba(255, 255, 255, .4);
    word-break: break-word;

    &:first-child {
      padding: 17px;
    }
  }

  .no-class {
    justify-content: center;
    padding: 20px;
    font-size: 24px;
  }
}
