@import "./src/assets/styles/variables";

.ymaps-2-1-79-map {
  width: 100% !important;
}

.map div:first-child {
  width: 100% !important;
  height: 649px !important;
}

.popup {

      position: absolute;
      z-index: 1000;
      background-image: url(../../assets/images/map-background.png);
      width: 387px;
      height: 409px;
      top: 150px;
      left: 150px;
      padding: 100px 0 157px 41px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    &__title {
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
    }
    &__address-block {
      display: flex;
      gap: 10px;
    }
    &__text {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 20px;
      line-height: 19px;
    }
    &__address {
      max-width: 279px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
    }
    &__btn {
      cursor: pointer;
    }
  }

  @media #{$tablet} {
    .popup {
      background-image: url(../../assets/images/map-background-tablet.png);
      width: 387px;
      height: 289px;
      top: 35px;
      left: 20px;
      padding: 70px 0 76px 41px;
        &__title {
          font-size: 20px;
          line-height: 20px;
        }

    }
  }

  @media #{$mobile} {
    .ymaps-2-1-79-map {
      height: 390px !important;
    }
    .map div:first-child {
      height: 390px !important;
    }
    .popup {
      background-image: none;
      background-color: $graphite;
      padding: 16.5px 30px 16.5px 39px;
      height: 102px;
      width: 358px;
      align-items: center;
      gap: 10px;
      &__title {
        left: -6px;
        top: -80px;
        position: absolute;
      }
      &__address {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }  