// @mixin screen_1184 {
//   @media (max-width: 1184px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media (max-width: 1024px) {
//     @content;
//   }
// }

// @mixin screen_890 {
//   @media (max-width: 890px) {
//     @content;
//   }
// }

// @mixin mobile {
//   @media (max-width: 800px) {
//     @content;
//   }
// }

// @mixin screen_680 {
//   @media (max-width: 680px) {
//     @content;
//   }
// }

// @mixin mobile-medium {
//   @media (max-width: 540px) {
//     @content;
//   }
// }

// @mixin mobile-small {
//   @media (max-width: 400px) {
//     @content;
//   }
// }

$mobile: "(max-width: 740px)";
$tablet: "(max-width: 1300px)";

$max-xs: 389+px;
$xs: 390+px;

$max-sm: 575+px;
$sm: 576+px;

$max-md: 743+px;
$md: 744+px;

$max-lg: 991+px;
$lg: 992+px;

$max-xl: 1199+px;
$xl: 1200+px;

$max-xxl: 1399+px;
$xxl: 1400+px;
