@import "./colors";
@import "./breakpoints";

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Docker';
  color: $white;
}

a {
 list-style-type: none;
 font-family: 'Open Sans', sans-serif;
 color: $white;cursor: pointer;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 165px 0 165px;
}
p {
  color: $white;
  font-family: 'Open Sans', sans-serif;
}
@media #{$tablet} {
  .wrapper {
    max-width: 744px;
    padding: 0 30px 0 30px;
  }
}
@media #{$mobile} {
  .wrapper {
    max-width: 390px;
    padding: 0 15px 0 15px;
  }
}