@import "vars";
@import "./colors";
@import "./breakpoints";

body {
  font-family: $font-text;
  line-height: 1.33;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: $font-title;
  color: $white;
}

a {
 list-style-type: none;
 color: $white;cursor: pointer;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 165px 0 165px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #27292A;
}
.container {
  padding: 0 15px;
  transition: none;

  @media (min-width: $md) {
    padding: 0 30px;
  }

  @media (min-width: $lg) {
    margin: 0 auto;
    max-width: 1170px;
  }
}

p {
  color: $white;
}

.page-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $lg) {
    margin-bottom: 60px;
    font-size: 40px;
  }
}

.page-subtitle {
  margin-bottom: 30px;
  font-size: 14px;

  @media (min-width: $lg) {
    margin-bottom: 60px;
    font-size: 18px;
  }
}

.btn {
  width: 100%;
  height: 50px;
  border: 1px solid $green;
  cursor: pointer;
  transition: .5s ease;

  &:hover {
    background-color: $green;
  }
}

.btn--bg {
  background-color: $green;

  &:hover {
    color: $black;
    border-color: $yellow;
    background-color: $yellow;
  }
}

@media #{$tablet} {
  .wrapper {
    max-width: 744px;
    padding: 0 30px 0 30px;
  }
}
@media #{$mobile} {
  .wrapper {
    max-width: 390px;
    padding: 0 15px 0 15px;
  }
}