@import "./src/assets/styles/variables";

.article-card {
    display: flex;
    gap: 30px;  
    transition: 0.8s all ease-in;
    &__image {
        object-fit: cover;
        width: 350px;
        height: 350px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        padding-top: 34px;
        gap: 6px;
    }
    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: $green;
        padding-bottom: 24px;
    }
    &__date {
        font-size: 14px;
        line-height: 19px;
    }
    &__content {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        max-height: 150px;
        overflow: hidden;
        transition: 0.8s all ease-in;
        max-width: 730px;
    }
    &__btn {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: right;
        color: $green;
        cursor: pointer;
    }


}

@media #{$tablet} {
    .article-card {

        &__image {
            width: 327px;
            height: 327px;
        }
        &__content {
            font-size: 14px;
            line-height: 19px;
            max-height: 190px;
            max-width: 327px;
        }
    }
}
@media #{$mobile} {
    .article-card {
        flex-direction: column;
        align-items: center;
        gap: 24px;  
        &__image {

            width: 358px;
            height: 280px;
        }
        &__container {
            padding-top: 0;
        }
        &__content {
            font-size: 18px;
            line-height: 25px;
            max-height: 150px;
            max-width: 100%;
        }
    }
}



.expanded {
    max-height: 100%;
    transition: 0.8s all ease-in;
}